body{font-family: Arial, Helvetica;
    margin:0%;
    font-size: 1rem;
    width: 90%;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
h2 {text-align: center;}
table {align-self: center;}
img {width:50px;height:50px;}
td {text-align: center;}
li {display: inline-block;}
li > a {padding: 10px;color: #000000 ;text-decoration: none;border: 1px solid #000000;border-radius: 5px;}
li > a:hover {background-color: #848482;color: #FFFFFFFF}
li > h2 {padding-left: 300px;}
table{border-collapse: collapse;width: 100%}
th {border: 1px solid #000000;}
td {border-bottom: 1px solid #000000;padding-left: 10px;padding-right: 10px;}