body{
    font-family: Arial, Helvetica;
    margin:0%;
    font-size: 1rem;
    min-width: 800px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}
nav{
    width:100%;
    display:flex;
}
nav > h2 > a {padding: 10px;color: #000000 ;text-decoration: none;border: 1px solid #000000;border-radius: 5px;}
nav > h2 > a:hover {background-color: #848482;color: #FFFFFFFF}
h2 {text-align: center;}
.back{flex-grow: 1;text-align:left}
.main{flex-grow: 8;text-align:center}
.user{flex-grow: 1;text-align:right}
table{border-collapse: collapse;width: 100%;}
tr {height: 35px;}
.intr {height: 30px;}
.inhdr {border:0px; font-size: 20px; background-color: #e1e1e1;}
.indescr {font-weight: bold;}
.intextbox {text-align:left; padding-left:1%;}
th {border: 0px solid #000000;}
td {border: 1px solid #000000;text-align: center;} /*border-bottom*/
img {width:125px;height:125px;}
td > a {padding-left: 10px;padding-right: 10px;color: #000000 ;text-decoration: none;border: 1px solid #000000;border-radius: 5px;font-weight: bold;height: 20px;}
td > a:hover {background-color: #848482;color: #FFFFFFFF;}
input,select {width: 100%; height:30px;}
.menu td {border:0px;}